.a{
    margin-left: 30px;
}
.a2{
    width: 300px;
    margin-left: 20px;
}
.a3{
    width: 300px;
    margin-left: 20px;
}
.a4{
    border: 1px solid grey;
}
.a5{
    margin-left: 95px;
}
.a6{
    border: 1px solid gray;
    margin-left: 95px;
}