.a{
    margin-left: 90px;
}
.a2{
    margin-left: 24px;
}
.a3{
    margin-left: 65px;
}
.b{
    width: 250px;
    margin-left: 60px;
    border: 2px solid red;
}
.b2{
    width: 250px;
    margin-left: 60px;
}
.b3{
    width: 250px;
    margin-left: 60px;
    border: 2px solid red;
}
.b4{
    width: 250px;
    margin-left: 60px;
}
.register{
    margin-left: 12pc;
}
.t{
    margin-left: 190px;
}