.a1{
    margin-left: 40px;
}
.a2{
    margin-left: 42px;
}
.a3{
    margin-left: 42px;
}
.a4{
    margin-left: 40px;
}
.a5{
    margin-left: 38px;
}
.b{
    margin-left: 30px;
}
.b1{
    margin-left: 31px;
}
.b2{
    margin-left: 55px;
}
.b3{
    margin-left: 50px;
}
.b4{
    margin-left: 15px;
}